* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: rgb(235, 235, 235);
  text-align: center;
}

body {
  background-color: hsl(0deg, 0%, 5%);
  font-size: 1rem;
  line-height: 1.5;
}

.header__container h1 {
  margin-top: -10px;
}

#ability {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-block: 20px;
}