* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-align: center;
}

body {
  background-color: hsl(0deg, 0%, 5%);
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
}

#root {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px;
}

#ability {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-block: 20px;
}

.contents {
  padding-block: 40px;
}

.header__container {
  margin-bottom: 10px;
}